@model ClothingStore.DataAccess.ProductDetail

@{
    ViewData["Title"] = "Details";
}
<main>

<link rel="stylesheet" href="~/css/Signup.css" asp-append-version="true" />
<div class="container">
    <div class="row justify-content-center">
   <div class="col-md-5">
   <div class="card">
    <h4 class="card-title text-center">Product Details</h4>
    <div class="card-body py-md-4">
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    
</div>
</div>
</div>
</div>
</div>
</div>
</main>
